@font-face {
    font-family: 'safira';
    src: url(assets/public/Fonts/safira_march/Safira\ March.otf)
    format(opentype);
}


body{
    margin: 0;
    padding: 0;
    background-color: black;
    overflow-x: hidden;
    line-height: 1.5;
}

    /* Navbar */
    header{

        width: 90vw;
        height: 13vh;
        display: flex;
    }
    
    .area{
        width: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .central{
        width: 40%;
        
    }

    .area a{
        text-decoration: none;
        color: #EDF6F9;
        font-size: 25px;
    }
    
    .central a{
        font-size: 40px;

    }

    #navbar{
        position: fixed;
    }
    
        /* Fim Navbar */

        /* Pagina inicial */
#homepage{
    background-image: url(https://s2.wklcdn.com/image_24/737955/18288363/11531546Master.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100vw;
    height: 98vh;
    display: flex;
    justify-content: center;
}

#div_titulo{
    font-family: 'safira';
    width: 1000px;
    height: 350px;
    align-self: center;
    display: flex;
    justify-content: space-between;
    font-size: 70px;
    color: #EDF6F9;
}


#div_subtitulo{
    width: 700px;
    height: 150px;
    font-size: 20px;
    display: flex;
    align-items: flex-end;

}

/* fim pagina inicial */

#abc{
    width: 100vw;
    height: 300vw;
    background: rgb(61,112,166);
    background: linear-gradient(180deg, rgba(61,112,166,1) 0%, rgba(147,195,226,1) 2%, rgba(61,112,166,1) 4%, rgba(73,130,183,1) 5%, rgba(45,98,154,1) 6%, rgba(34,58,143,1) 8%, rgba(9,9,121,1) 15%, rgba(43,57,205,1) 27%, rgba(7,65,158,1) 36%, rgba(9,9,121,1) 53%, rgba(2,0,36,1) 85%, rgba(0,4,24,1) 94%, rgba(1,0,28,1) 100%);
}


footer{
    background-color: blueviolet;
    width: 100vw;
    height: 15vh;
    
}