@font-face {
    font-family: 'safira';
    src: url(assets/public/Fonts/safira_march/Safira\ March.otf)
    format(opentype);
}


body{
    margin: 0;
    padding: 0;
    background-color: black;
    overflow-x: hidden;
    line-height: 1.5;
}

    /* Navbar */
    header{

        width: 90vw;
        height: 13vh;
        display: flex;
        justify-content: space-between;
        align-self: top;
    }
    
    .area{
        width: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .central{
        width: 40%;
        
    }

    .area a{
        text-decoration: none;
        color: #2d5fc3;
        font-size: 25px;
    }
    
    .central a{
        font-size: 40px;

    }

    #navbar{
        position: fixed;
    }
    
        /* Fim Navbar */

        /* Pagina inicial */
#homepage{
    background-image: url(assets/public/imgs/img_jogo/background_jogo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#div_titulo{
    font-family: 'safira';
    width: 1200px;
    height: 350px;
    align-self: center;
    display: flex;
    justify-content: space-between;
    font-size: 60px;
    color: #2d5fc3;
}

/* Inicio sessão jogo */
#conteiner_jogo{
    height: 80vh;

}

#div_explicaJogo{
    
}


/* Fim sessão do jogo */


footer {
    background-color: #2d5fc3;
    height: 6vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#div_carinho {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#div_redes {
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: right;
    align-items: center;
    margin-right: 30px;
}

.logos_footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
}



.img_icon {
    width: 40%;
    height: 40%;
    margin: 0 ;
    padding: 0;
}
