@font-face {
    font-family: 'safira';
    src: url(assets/public/Fonts/safira_march/Safira\ March.otf) format(opentype);
}

@font-face {
    font-family: 'poppins';
    src: url(assets/public/Fonts/Poppins/Poppins-Regular.ttf) format(opentype);
}

@keyframes animacao_rodar {
    0% {
        opacity: 0;
        transform: translateX(50%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes animacao_rodar_contrario {
    0% {
        opacity: 0;
        transform: translateX(-50%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


body {
    margin: 0;
    padding: 0;
    background-color: black;
    overflow-x: hidden;
    line-height: 1.5;
    font-family: 'poppins';
}

body::-webkit-scrollbar {
    width: 10px;               /* largura da scroll */
}

body::-webkit-scrollbar-track {
    background: #6B4C93;        /* cor da área de trás da scroll */
}

body::-webkit-scrollbar-thumb {
    background-color: #6B4C93;    /* cor da barra móvel da scroll */
    border-radius: 20px;       /* borda arredondada */
    border: 3px solid rgba(66, 158, 160, 0.931);  /* padding */
}


/* Navbar */
header {

    width: 90vw;
    height: 13vh;
    display: flex;
}

.area {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.central {
    width: 40%;

}

.area a {
    text-decoration: none;
    color: #EDF6F9;
    font-size: 25px;
}

.central a {
    font-size: 40px;

}

#navbar {
    position: fixed;
}

/* Fim Navbar */

/* Começo da seção curiosidades */
#homepage {

    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

#pagina-curiosidades {
    background-image: url(assets/public/imgs/img-curiosidades/img-teste.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#conteiner {
    width: 95vw;
    height: 70vh;
}

#div_titulo {
    font-family: 'safira';
    width: 1000px;
    height: auto;
    display: flex;
    font-size: 35px;
    color: #EDF6F9;
    /* margin: 45px 0 0 50px; */
}


/* quadros */


.quadros {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: transform 0.4s ease-in-out;

    animation-duration: 1.1s;
    animation-fill-mode: none;
    animation-iteration-count: 1;
}

.box {
    height: 50%;
    width: 22%;
    background-color: rgba(66, 158, 160, 0.931);
    display: flex;
    justify-content: center;
    position: relative;
    transition: 0.7s;
    padding: 0px;
    cursor: default;
    border-radius: 15px;
}

.box:hover {
    height: 97%;
}

.box img {
    width: 70%;
    height: auto;
    top: 0px;
    position: absolute;
    transition: 0.7s;
}

.box:hover img {
    top: -50px;
    scale: 0.7s;
    object-fit: cover;
}

.box p {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 200px;
    width: 100%;
    padding: 0px 30px;
    margin: 0 15px;
    text-align: center;
    height: 15%;
    overflow: hidden;
    transition: 0.7s;
    color: #EDF6F9;
    font-size: 15px;
}

.box:hover p {
    top: 150px;
    height: 90%;
}

.nomeAnimal_box {
    font-size: 25px;
    color: #000c1f;
    margin-bottom: 10px;
}

.botao {
    width: 40px;
    height: 35px;
    border: 2px solid #EDF6F9;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.botao:hover {

    background-color: #edf6f927;
    filter: drop-shadow(3px 1px 1px rgba(0, 0, 0, .5));
    border: 2px solid #edf6f9c9;
    border-radius: 50%;
}

.botao img {
    width: 75%;
    height: 75%;
}

#vinteTres {
    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;
    border: solid 2px;
    cursor: pointer;
}

#div_23 {
    width: 82vw;
    height: 80vh;
    background: rgb(30, 94, 152);
    background: linear-gradient(180deg, rgba(30, 94, 152, 1) 9%, rgba(15, 12, 41, 1) 52%, rgba(15, 12, 41, 1) 78%, rgba(4, 4, 11, 1) 100%);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 30px 30px 5px;
    color: #EDF6F9;
    border-radius: 25px;
    font-size: 17px;
}

#div_23 h3 {
    font-size: 28px;
    margin: 25px 20px 10px;
}

#div_23 p{
    margin: 0px 48px;
}

#fechar{
    width: 30%;
    padding: 16px 0px;
    margin: 15px 0 30px 0;
    border-radius: 8px;
    border: 2px solid rgb(30, 94, 152);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 3px;
    cursor: pointer;
    transition: 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fechar:hover{
    box-shadow: 0px 10px 40px -12px rgb(30, 94, 152);
}

/* Correções indidivuais */
.sexto {
    justify-content: space-between;
}

#duende,
#camarao,
#ostra,
#vela {
    width: 95%;
}

#caravela,
#lagosta,
#aranha {
    width: 90%;
}

#baleia,
#golfinho,
#caracol {
    width: 85%;
}

#narval {
    width: 100%
}



/* Fim seção curiosidades */

footer {
    background-color: #2d5fc3;
    height: 6vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#div_carinho {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#div_redes {
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: right;
    align-items: center;
    margin-right: 30px;
}

.logos_footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_icon {
    width: 40%;
    height: 40%;
    margin: 0;
    padding: 0;
}