/* Ajustes gerais */
@font-face {
    font-family: 'safira';
    src: url(assets/public/Fonts/safira_march/Safira\ March.otf) format(opentype);
}

@font-face {
    font-family: 'poppins';
    src: url(assets/public/Fonts/Poppins/Poppins-Regular.ttf) format(opentype);
}

@keyframes animacao_cadastro{
    from {
        transform: translateX(-50px);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes animacao_entrar {
    from {
        transform: translateX(50px);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes animacao_alerta {
    from {
        transform: translateY(-70px);
    }
    to {
        transform: translateY(0);
    }
}

/* @keyframes atencao {
	0%,
	100% {
		transform: translateX(0);
	}

	10%,
	30%,
	50%,
	70% {
		transform: translateX(-10px);
	}

	20%,
	40%,
	60% {
		transform: translateX(10px);
	}

	80% {
		transform: translateX(8px);
	}

	90% {
		transform: translateX(-8px);
	}
} */

body {
    margin: 0;
    padding: 0;
    background-color: black;
    overflow-x: hidden;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    font-family: 'poppins';
}

body::-webkit-scrollbar {
    width: 10px;               /* largura da scroll */
}

body::-webkit-scrollbar-track {
    background: #193E6A;        /* cor da área de trás da scroll */
}

body::-webkit-scrollbar-thumb {
    background-color: #193E6A;    /* cor da barra móvel da scroll */
    border-radius: 20px;       /* borda arredondada */
    border: 2px solid #0B6E4F;  /* padding */
}

/* Navbar */
header {
    width: 90vw;
    height: 13vh;
    display: flex;

}

.area {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.central {
    width: 40%;

}

.area a {
    text-decoration: none;
    font-size: 25px;
    color:#EDF6F9;

}

.central a {
    font-size: 32px;

}

#navbar {
    position: fixed;
    display: flex;

}

/* Fim Navbar */

/* Pagina inicial */
#conteiner_principal {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    color: #0B6E4F;
    font-size: larger;

}

/* Seção entrar */
img {
    width: 683px;
    height: auto;
    
}

#div_esquerda {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


#div_direita {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#div_login {
    background-color: #EDF6F9;
    width: 30%;
    height: 55%;
    position: absolute;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 7px;

    animation-name: animacao_entrar;
    animation-duration: 2s;
    animation-fill-mode: none;
    animation-iteration-count: 1;
}

#div_cadastro {
    background-color: #EDF6F9;
    width: 35%;
    height: 75%;
    position: absolute;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 7px;

    animation-name: animacao_cadastro;
    animation-duration: 2s;
    animation-fill-mode: none;
    animation-iteration-count: 1;
}

.botao_verificador{
        width: 30%;
        padding: 16px 0px;
        margin: 15px 0 30px 0;
        border-radius: 8px;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 3px;
        background-color: #EDF6F9;
        cursor: pointer;
        transition: 0.5s ease;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .botao_verificador:hover{
        box-shadow: 0px 10px 40px -12px #E43F6F;
    }
    


.botao_cadastroLogin{
    border: solid 1px #E43F6F;
    width: auto;
    height: auto;
    align-self: flex-start;
    margin-left: 40px;
    cursor: default;
}

.botao_cadastroLogin:hover u{
    cursor: pointer;
}



h1{
    font-family: 'safira';
    font-size: 25px;
    opacity: 1;
    color: #E43F6F;
    margin:25px 40px;
}

/* span{
    color: ;
} */
input{
    height: 20px;
    margin: 5px 0 12px 0;
    border-radius: 25px;
    border: 1px solid #0B6E4F;
}

#div_alerta{
    position: absolute;
    width: 160px;
    height: 70px;
    top: 81px;
    background-color: #EDF6F9;
    opacity: 0.9;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    animation-name: animacao_alerta;
    animation-duration: 0.6 s;
    animation-fill-mode: none;
    animation-iteration-count: 1;
    padding: 7px;

    font-size: 16px;
}


/* fim seção entrar */

footer {
    background-color: #2d5fc3;
    height: 6vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#div_carinho {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#div_redes {
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: right;
    align-items: center;
    margin-right: 30px;
}

.logos_footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
}



.img_icon {
    width: 40%;
    height: 40%;
    margin: 0 ;
    padding: 0;
}


