/* Animação de troca de texto */
@keyframes troca_textoPreparo_esqDir {
	0% {
		opacity: 0;
		transform: rotateY(100deg);
		transform-origin: left;
	}

	100% {
		opacity: 1;
		transform: rotateY(0);
		transform-origin: left;
	}
}

@keyframes troca_textoPreparo_dirEsq {
	0% {
		opacity: 0;
		transform: rotateY(-100deg);
		transform-origin: right;
	}

	100% {
		opacity: 1;
		transform: rotateY(0);
		transform-origin: right;
	}
}


/* Ajustes gerais */
@font-face {
    font-family: 'safira';
    src: url(assets/public/Fonts/safira_march/Safira\ March.otf) format(opentype);
}

@font-face {
    font-family: 'poppins';
    src: url(assets/public/Fonts/Poppins/Poppins-Regular.ttf) format(opentype);
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    overflow-x: hidden;
    line-height: 1.5;
    font-family: 'poppins';
}

body::-webkit-scrollbar {
    width: 10px;               /* largura da scroll */
}

body::-webkit-scrollbar-track {
    background: #193E6A;        /* cor da área de trás da scroll */
}

body::-webkit-scrollbar-thumb {
    background-color: #193E6A;    /* cor da barra móvel da scroll */
    border-radius: 20px;       /* borda arredondada */
    border: 2px solid #FE4E02;  /* padding */
}


/* Navbar */
header {
    width: 90vw;
    height: 13vh;
    display: flex;
    justify-content: space-between;
}

.area {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.central {
    width: 40%;

}

.area a {
    text-decoration: none;
    color: #EDF6F9;
    font-size: 25px;
}

.central a {
    font-size: 40px;

}

#navbar {
    position: fixed;
}

/* Fim Navbar */

#secao_pratos {
    background-color: #193E6A;
    background-image: url(assets/public/imgs/fundo_selecaoReceitas.png);
    background-repeat: no-repeat;
    background-size: 100% 99.8vh;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

#div_conteudoPagina {
    width: 75vw;
    height: 95vh;
    align-self: center;
    display: flex;
    flex-direction: column;
}

#div_titulo {
    width: 840px;
    height: 190px;
    font-family: 'safira';
    font-size: 60px;
    color: #FE4E02;
    display: flex;
    justify-content: center;
    margin: 80px 0 0 50px;
    cursor: default;
}

#div_subtitulo {
    width: 360px;
    height: 162px;
    display: flex;
    align-items: center;
    font-family: 'poppins';
    font-size: 18px;
    color: #edf6f9;
    margin-left: 54px;


}

#conteiner_boxes {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: end;
}

.box {
    background-color: rgba(215, 235, 241, 0.9);
    width: 26%;
    height: 90%;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box a {
    text-decoration: none;
    font-size: 16px;
    color: #EDF6F9;
}

.central {
    height: 100%;
    width: 32%;
}

.div_imagemPrato {
    background-repeat: no-repeat;
    background-position: center;
    width: 80%;
    height: 67%;
    border-radius: 100%;
    margin: 10px;

}

.div_nomePrato {
    background-color: #FE4E02;
    width: 80%;
    height: 15%;
    margin-top: 5px;
    border-radius: 35% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    cursor: pointer;
}

.div_nomePrato:hover {

    transform: scale(1.05);
    background-color: #fe4e02d1;
    border: solid 4px #FE4E02;
   
}

/* imagens */
.box img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}


/* Seção pratos */

#secao_receitas {
    width: 100vw;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#div_conteinerReceitas {
    width: 100vw;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 16px;
    line-height: 1.5;
    color: #EDF6F9;
}

.fundoReceita {
    width: 100vw;
    height: 100vh;
    display: flex;
}

#div_semReceita {
    background-image: url(assets/public/imgs/fundo_secaoSemReceitas.png);
    background-repeat: no-repeat;
    width: 100vw;
    height: 46vh;
    background-size: cover;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#div_semReceita h4 {
    font-family: 'safira';
    font-size: 40px;
   
}


/* Botão  */
.botao_rodar {
    align-self: center;
    justify-self: center;
    width: 70px;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    transition: all .5s;
    cursor: pointer;
}

.forma_botao {
    border: solid 3px #edf6f9;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid transparent;
    transition: all 0.5s;
    
}

.setas {
    width: 55%;
    height: auto;
}

.botao_rodar:hover .forma_botao{
    scale: 1.1;
    background-color: #fff5de26;
    border: 5px solid #FE4E02;
    border-radius: 50%;
    
}

/* Final do botão */

#secao_receitas h2 {
    font-size: 35px;
    margin: 15px;
    text-decoration: underline;
}

/* Salmao */

#div_receitaSalmao {
    background-color: #132846;
    background-image: url(assets/public/imgs/imgFundoSalmao.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: right bottom;

    
}

#div_ingredientesSalmao {
    width: 500px;
    height: 600px;
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    animation: troca_textoPreparo_esqDir 0.4s ease 1 normal none;
}

#div_preparoSalmao {
    width: 500px;
    height: 600px;
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    animation: troca_textoPreparo_esqDir 0.4s ease 1 normal none;
}

/* Camarao */

#div_receitaCamarao {
    background-color: #3066BE;
    background-image: url(assets/public/imgs/imgFundoCamarao.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 1050px;
    display: flex;
    justify-content: left;
    align-items: end;
}

#div_ingredientesCamarao {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 650px;
    height: 433px;
    margin-left: 60px;

    animation: troca_textoPreparo_dirEsq 0.4s ease 1 normal none;

}

#div_preparoCamarao {
    width: 650px;
    height: 433px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 60px;

    animation: troca_textoPreparo_dirEsq 0.4s ease 1 normal none;
}

/* Carangueijo */

#div_receitaCarangueijo {
    background-color: #183E97;
    background-image: url(assets/public/imgs/imgFundoCarangueijo.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    display: flex;
    justify-content: right;
    align-items: end;
}

#div_ingredientesCarangueijo {
    width: 590px;
    margin: 50px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    animation: troca_textoPreparo_esqDir 0.4s ease 1 normal none;
}

#div_preparoCarangueijo {
    width: 590px;
    height: 450px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    animation: troca_textoPreparo_esqDir 0.4s ease 1 normal none;
}

/* Fim area de receitas */

/* Footer */
footer {
    background-color: #2d5fc3;
    height: 6vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#div_carinho {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#div_redes {
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: right;
    align-items: center;
    margin-right: 30px;
}

.logos_footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
}



.img_icon {
    width: 40%;
    height: 40%;
    margin: 0;
    padding: 0;
}