/* Ajustes gerais */



html{
    scroll-behavior: smooth;
}


body{
    margin: 0;
    padding: 0;
    background-color: black;
    overflow-x: hidden;
}



    /* Navbar */
    header{

        width: 90vw;
        height: 13vh;
        display: flex;
        justify-content: space-between;
    }
    
    .area{
        width: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .central{
        width: 40%;
        
    }

    .area a{
        text-decoration: none;
        color: #EDF6F9;
        font-size: 25px;
    }
    
    .central a{
        font-size: 40px;
    }

    #navbar{
        position: fixed;
    }
    
        /* Fim Navbar */

#secao_pratos{
    background-color:#193E6A ;
    background-image: url(assets/public/imgs/fundo_selecaoReceitas.png);
    background-repeat: no-repeat;
    background-size: 100% 99.8vh;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

#div_conteudoPagina{
    width: 75vw;
    height: 95vh;
    align-self: center;
    display: flex;
    flex-direction: column;
}

#div_titulo{
      width: 800px;
      height: 190px;
      font-size: 120px;
      color: #FE4E02;
      display: flex;
      justify-content: center;
      margin: 72px 0 0 50px;
  }

#div_subtitulo{
    width: 332px;
    height: 162px;
    display: flex;
    align-items: center;
    font-size: 21px;
    color: #edf6f9;
    margin-left: 54px;


}

#conteiner_boxes{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: end;
}

.box{
    background-color:rgba(215, 235, 241, 0.9);
    width: 26%;
    height: 90%;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box a{
    text-decoration: none;
    font-size: 20px;
    color: #EDF6F9;
}

.central{
    height: 100%;
    width: 32%;
}

.div_imagemPrato{
    background-repeat:no-repeat ;
    background-position: center ;
    width: 80%;
    height: 67%;
    border-radius: 100%;
    margin: 10px;
    
}

.div_nomePrato{
    background-color: #FE4E02;
    width: 80%;
    height: 15%;
    margin-top: 5px;
    border-radius: 35% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.div_nomePrato:hover{
    
    margin-left: -3px;
    margin-top: -3px;
    background-color: #fe4e02d1;
    border: solid 4px #FE4E02;
}

/* imagens */
.box img{ 
    width: 100%;
    height: 100%;
    border-radius: 100%;
}


/* Seção pratos */

#secao_receitas{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#div_conteinerReceitas{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fundoReceita{
    width: 100vw;
    height: 100vh;
    display: flex;
}

#div_semReceita{
    background-color:#193E6A ;
    /* width: 100vw;
    height: 30vh;
    font-size: 40px;
    color: #EDF6F9; */
       
}
 
/* Botão  */
.botao_rodar{
    align-self: center;
    justify-self: center;
    
    width: 70px;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #edf6f9;
    font-size: 15px;   
}

.forma_botao{
    border: solid 3px #edf6f9;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.setas{
    width: 55%;
    height: auto;
}

.forma_botao:hover{
    background-color: #FDAB00;
    margin-left: -3px;
    margin-top: -3px;
}
.botao_rodar:hover{
    font-size: 18px;
}

/* Final do botão */

#secao_receitas h2{
    font-size: 35px;
    margin: 15px;
}

/* Salmao */

#div_receitaSalmao{
    background-color: #132846;
    background-image: url(assets/public/imgs/imgFundoSalmao.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: right bottom;
}

#div_ingredientesSalmao{
    width: 400px;
    height: 450px;
    margin: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #edf6f9;
    font-size: 22px;
}

#div_preparoSalmao{
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px;
    font-size: 22px;
    color: #edf6f9;
}

/* Camarao */

#div_receitaCamarao{
    background-color: #92BCDB;
    background-image: url(assets/public/imgs/imgFundoCamarao.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    display: flex;
    justify-content: left;
    align-items: end;
}

#div_ingredientesCamarao{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 650px;
    height: 433px;
    color: #EDF6F9;
    font-size: 22px;
    margin-left: 60px;

}

#div_preparoCamarao{
    width: 650px;
    height: 433px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #EDF6F9;
    font-size: 22px;
    margin-left: 60px;
}

/* Carangueijo */

#div_receitaCarangueijo{
    background-color: #183E97;
    background-image: url(assets/public/imgs/imgFundoCarangueijo.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    display: flex;
    justify-content: right;
    align-items: end;
}

#div_ingredientesCarangueijo{
    width: 600px;
    margin: 40px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    color: #edf6f9;
}

#div_preparoCarangueijo{
        width: 590px;
        height: 450px;
        margin: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 22px;
        color: #edf6f9;
}


footer{
    background-color: blueviolet;
    width: 100vw;
    height: 15vh;
    
}